<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Hello Millky</title>
</head>
<body>
<!--/* <xmp> */-->
<div>
    <h3>당신의 키는 → <span th:text="${encodedKey}">${encodedKey}</span> 입니다.</h3>
    <h3>당신의 바코드 주소는 → <span th:text="${url}">${url}</span> 입니다.</h3>
    <img th:src="${url}" />
    <form action="/otpTestResult" method="post">
        code : <input type="text" name="userCode" /><br><br>

        <input type="hidden" name="encodedKey" th:value="${encodedKey}" readonly="readonly"><br><br>
        <input type="submit" value="전송!">

    </form>
</div>
</body>
</html>
